{% extends 'core/base.html' %}

{% block title1 %}
Contacto
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg'%}{% endblock %}

{% block headers %}
<<h1>Contacto</h1>
<span class="subheading">Asesoría</span>

{% endblock %}


{% block content %}
<div class="row">

     <div class="col-lg-8 col-md-10 mx-auto">
          <p>Contactame por what's app o email, estoy disponible para aclarar tus dudas en cuanto a informatica se refiere</p>
          <br>
          <p><b>What's app:</b> +34 624 021 015</p>
          <p><b>Email:</b> Felizolaromulo23@gmail.com</p>
        </div>
 </div>       
{% endblock %}
   
      